/* CSS Document */

*{
  margin:0;padding:0;
}
body{
	background:url(../images/logon/login_bg.png);
	font-family: Verdana, Arial, Helvetica, sans-serif, "ו";
	font-size: 12px;
	color: #340d0d;
	margin-left:auto;
	margin-right:auto;	
	scroll:none; 
}
a{
	color:#441010;
	text-decoration:none;
	margin:0px;padding:0px;
}
a:hover{
   color:#441010;
   text-decoration:underline;
}
.center{
	margin:-265px 0 0 -408px;
	width:815px;height:530px;
	position:absolute;
	top:50%;left:50%;
	
}
.top{
    background:url(../images/logon/topic.png) no-repeat;
	height:143px;
}
.middle{
    background:url(../images/logon/middle.png) no-repeat;
	height:244px;
}
.middle ul{
    background:url(../images/logon/loginbox.png) no-repeat 432px 31px;
    list-style:none;
	padding-top:75px;
	padding-left:439px;
	width:341x;
	height:165px;
}
.middle ul li{
	overflow:hidden;
	padding-left:48px;
	padding-bottom:6px
}
.button_position{
	margin-top:35px;
	padding-left:110px;
	_padding-left:60px;
	*padding-left:60px;
	padding-left:110px\0;
	}
.lable{
    text-align:right;
	width:55px;
	display:block;
	float:left;
	clear:left;
	line-height:22px;
	color:#cce7ff;
}

input.focus{
	border:1px solid #808081; 
	background:#faf8de;
	height:18px;
	margin-top:0px;
}
input.blur{
    border:1px solid #808081;
	background:#FFFFFF; 
	height:18px;
	margin-top:0px;
}
.text{
    float:left;
    width:140px;
	margin-top:4px!important;
	margin-top:0;
}
.verify{
	background-color:#c9caca;
	width:100px;
	padding:2px 8px;
	line-height:20px;
}
.download{
	margin-left:20px;
	margin-right:20px;
	padding-top:10px;
	background:url(../images/logon/dotline.png) repeat-x;
	text-align:right;
	height:40px;
}
.copyright{
	height:48px;
	text-align:center;
	color:#616060;
	padding-top:115px;
	background-image: url(../images/logon/bottom.png);
	background-repeat: no-repeat;
}
.button,.buttonhover{
	 border:none;
	 line-height:20px;
     FONT-SIZE: 12px; 	 	
	 CURSOR: hand; 
	 COLOR: #333333; 
	 width:61px;height:26px;	
	  
}
.button {
    background:url(../images/logon/btn_nomorl.png);     
	 }
.buttonhover {
     background:url(../images/logon/btn_onmouseover.png); 
	
}
.error{
	background:#fffae3;
	border:1px solid #ff7200;
	width:222px;
	height:18px;
	text-align:left;
	/*position: absolute;
	top:213px;
	left:380px;*/
	padding:0 5px;
}
.error span{
    background:url(../images/logon/err.png) no-repeat;
	padding-left:23px;
	line-height:18px;
	color:#862512;
	
}