@CHARSET "UTF-8";
.bpp_BtnField
{
	background:url(../images/field-border.png) right bottom;
}
.bpp_BtnField table td input
{
	border:solid #999999 1px;
	line-height:150%;
	height:24px;
	margin-right:3px;
	margin-top:3px;
	background:#ffffff url(../images/actionbtn-bg.png) bottom;
}