
.t-wrap {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 9990;
    width: 35px;
    height: 100%;
    margin-right:-16px;
}

.t-open {
    right: 600px;
}

.t-toolbar {
/*     position: absolute;
    right: 0px;
    top: 0px;
    width: 29px;
    height: 100%;
    border-right: 6px solid #7A6E6E; */
}
.t-panels {
    position: absolute;
    left: 35px;
    top: 0px;
    width: 600px;
    height: 100%;
    z-index: 2;
    background: #FFF none repeat scroll 0% 0%;
    border: 1px solid #d2d2d2;
}
.t-panel {
    width: 600px;
    height: 100%;
    position: absolute;
    background: #FFF none repeat scroll 0% 0%;
}
.t-panel-header {
    position: relative;
    width: 600px;
    height: 40px;
    line-height: 40px;
    background: #eff7fb none repeat scroll 0% 0%;
    font-family: "microsoft yahei";
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}
.t-panel-header .title {
    /* display: inline-block; */
    height: 40px;
    color: #5E5050;
    font: 16px/40px 'microsoft yahei';
}
.t-panel-cart .t-panel-header i {
    width: 20px;
    height: 18px;
    background-position: 0px 0px;
    margin-top: 11px;
}
.t-panel-header i, .t-panel-header .close-panel {
    display: inline-block;
    font-style: normal;
    /* background-image: url(../images/icons.png); */
    background-repeat: no-repeat;
}

.t-panel-header i {
    margin-right: 4px;
    margin-left: 10px;
    vertical-align: top;
}
.t-panel-header .close-panel {
    width: 12px;
    height: 12px;
    background-position: 0px -250px;
    position: absolute;
    right: 8px;
    top: 16px;
    cursor: pointer;
    transition: transform 0.2s ease-out 0s;
}

.t-panel-header i, .t-panel-header .close-panel {
    display: inline-block;
    font-style: normal;
    /* background-image: url(../image/jiantou22.png); */
    background-repeat: no-repeat;
}
.t-tabs {
    position: absolute;
    top: 56%;
    left: 0px;
    width: 35px;
    margin-top: -61px;
    margin-left: 9px;
	height: 49px;
}
.t-tab-click-selected {
    background-color: rgb(184, 194, 202);;
}

.t-tab-cart {
    /* background-position: -50px 0px; */
    height: 100%;
    margin-left:-5px;
    background-image: url(../style/image/jiantou11.png);
    background-repeat: no-repeat;
}

#sele:hover{
	background-color: #eff7fb;    
}

#sele {
	text-decoration: none;
}
.Ct1 {
    margin: 70px auto 0px auto;
}

.fixed-table-searchfield select.form-control {
    width: 70%;
}

.btn_box.overflow{
	position: relative;
    width: 600px;
    height: 40px;
    line-height: 40px;
    background: #eff7fb none repeat scroll 0% 0%;
    font-family: "microsoft yahei";
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}

