@CHARSET "UTF-8";
.bpp_LabelField
{
	overflow:hidden;
	background:url(../images/field-border.png) right bottom;
}
.bpp_LabelField table td div
{
	margin:9px 3px 0px 5px;
}
.bpp_LabelField table td div span
{
	color:#333333;
}