body
{
	margin:0px;
	background-color:#f8fbfc;
	font-family:宋体;
	font-size:12px;
	padding-bottom:10px;
}

#bpp_WorksheetForm
{
	margin:0px;
	padding:0px;
}
#bpp_FormContainer
{
	width:960px;
	margin:0 auto;
}
.bpp_White_Block
{
	height:3px;
	background-color:#ffffff;
	background:#ffffff url(../images/panel-border.png) repeat-y;
	clear:both;
}

/* Header START */
#bpp_Header
{
	clear:both;
	height:65px;
	background-color:#ff9933;
	padding:0px 5px 0px 5px;
	background:url(../images/top-bg.gif) repeat-x;
	border-bottom: solid #bfe4f2 1px;
}
#bpp_Header #bpp_BaseStatus
{
	float:left;
	background-color:#ff9933;
	background:url(../images/status-bg.gif);
	font-family:黑体;
	font-size:16px;
	height:20px;
	padding:10px 5px 2px 30px;
	color:#003366;
	/*border-left:solid #68afc2 1px;*/
	/*border-right:solid #68afc2 1px;*/
}
#bpp_Header #bpp_BaseName
{
	font-size:20px;
	font-weight:bold;
	color:#ffffff;
	font-family:黑体;
	margin-top:8px;
	margin-bottom:2px;
	margin-left:5px;
	float:left;
}
#bpp_Header #bpp_BaseSN
{
	font-size:20px;
	color:#ffffff;
	margin-top:8px;
	margin-bottom:2px;
	margin-left:5px;
	float:left;
}
#bpp_Header #bpp_ExtendLinks
{
	margin-top:10px;
	float:right;
}
#bpp_Header #bpp_ExtendLinks span
{
	text-decoration:underline;
	margin-left:10px;
}
#bpp_Header #bpp_ExtendLinks span a
{
	color:#ffffff;
	text-decoration:underline;
	margin-left:10px;
}
#bpp_Header #bpp_BasicInfor
{
	padding-top:16px;
	padding-bottom:5px;
	clear:both;
}
#bpp_Header #bpp_BasicInfor span
{
	color:#333333;
	margin-right:20px;
}
#bpp_TaskInfor
{
	clear:both;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:5px;
	background-color:#e4f1f7;
	border-bottom:solid #228cba 1px;
}
#bpp_TaskInfor div
{
	margin:10px 10px 0px 5px;
}
#bpp_TaskInfor #bpp_TaskName
{
	margin:0px 10px 10px 5px;
}
#bpp_TaskInfor span
{
	color:black;
	margin-right:20px;
}
/* Header END */

/* Body START */
#bpp_Body
{
	clear:both;
	margin-bottom:5px;
}
/* Body END */

/* Button panel START */
#bpp_BtnPanel
{
	clear:both;
	margin-bottom:5px;
}
#bpp_BtnPanel .bpp_BtnTip
{
	height:20px;
	line-height:150%;
	float:left;
	padding:3px 5px 0px 5px;
	border-bottom:solid #666666 1px;
	color:#666666;
}
#bpp_BtnPanel ul
{
	list-style:none;
	margin:0px;
	padding:0px;
	float:left;
	clear:left;
	width:960px;
}
#bpp_BtnPanel ul li
{
	margin:5px;
	margin-left:0px;
	float:left;
}
#bpp_BtnPanel ul li input
{
	height:32px;
	border:solid #bbe68a 1px;
	background-color:#eeeeee;
	background:url(../images/actbutton-bg.gif) repeat-x;
	font-size:14px;
}
#bpp_BtnPanel ul li div
{
	margin-top:20px;
	float:left;
}
#bpp_BtnPanel ul li div a
{
	color:#666666;
}
#bpp_BtnPanel ul li .bpp_MainBtn
{
	height:35px;
	border:solid #777777 1px;
	background-color:#ffddbb;
}
/* Button panel END */

/* Button panel START */
#bpp_ActPanel
{
	display:none;
	clear:both;
	margin-bottom:5px;
}
#bpp_ActPanel #bpp_ActComment
{
	background-color:#2094c1;
	padding:5px;
	color:white;
	font-weight:bold;
}
#bpp_ActPanel #bpp_ActBody
{
	background-color:#ffffff;
	border-bottom:solid #cccccc 1px;
	background:#ffffff url(../images/panel-border.png) repeat-y;
}
#bpp_ActPanel #bpp_ActBody #bpp_ActFields
{
	
}
#bpp_ActPanel #bpp_ActPanel_BtnPanel
{
	height:36px;
	background-color:#cccccc;
	clear:both;
	padding-left:3px;
	margin-left:1px;
	margin-right:1px;
	background:#fbfad5 url(../images/actionpanel-bg.png) repeat-x;
}
#bpp_ActPanel #bpp_ActPanel_BtnPanel input
{
	height:30px;
	width:80px;
	margin:2px 2px 3px 0px;
	border:solid #e6e68a 1px;
	background:#fbfad5 url(../images/actionbtn-bg.png) repeat-x;
}
/* Button panel END */

/* Hidden panel START */
#bpp_HiddenPanel
{
	display:none;
}
/* Hidden panel END */

/* 控件 */
.bpp_Field
{
	float:left;
}
.bpp_Field table
{
	margin-left:1px;
	background-color:#ffffff;
	margin-bottom:1px;
}
.bpp_Field .bpp_Field_Label
{
	width:95px;
	background:url(../images/field-label.png) no-repeat right bottom;
	overflow:hidden;
}

.bpp_Field .bpp_Field_Label div
{
	overflow:hidden;
	margin-left:3px;
}
.bpp_Field .bpp_Field_Label div div
{
	margin:9px 1px 0px 0px;
}
.bpp_Field .bpp_Field_Label div span
{
	color:#333333;
}
.bpp_Field .bpp_Field_Label div .bpp_Require
{
	font-weight:bold;
	color:#993300;
}
.bpp_Field .bpp_Field_Label div .bpp_Require font
{
	color:ff0000;
	font-size:10px;
}

.bpp_Field .bpp_Field_Label_Large
{
	width:95px;
	background:url(../images/field-label.png) no-repeat right bottom;
	overflow:hidden;
}
.bpp_Field .bpp_Field_Label_Large div
{
	overflow:hidden;
	margin-left:5px;
}
.bpp_Field .bpp_Field_Label_Large div div
{
	margin:1px 6px 0px 0px;
}
.bpp_Field .bpp_Field_Label_Large div span
{
	color:#333333;
	line-height:110%;
}
.bpp_Field .bpp_Field_Label_Large div .bpp_Require
{
	font-weight:bold;
	color:#993300;
	line-height:110%;
}
.bpp_Field .bpp_Field_Label_Large div .bpp_Require font
{
	color:ff0000;
	font-size:10px;
	line-height:110%;
}

.bpp_Field_RO table td input
{
	border:solid #999999 0px !important;
}
.bpp_Field_RO table td textarea
{
	border:solid #999999 0px !important;
	overflow:hidden;
}
.bpp_Field_Extend
{
	float:left;
	height:22px;
	width:20px;
	background-color:#eeeeee;
	border:solid #cccccc 1px;
	cursor:pointer;
	margin-left:2px;
	margin-top:3px;
	background:url(../images/field_extend_more.gif) #eeeeee no-repeat center center;
}
.bpp_TimeField_Extend
{
	float:left;
	height:22px;
	width:20px;
	background-color:#eeeeee;
	border:solid #cccccc 1px;
	cursor:pointer;
	margin-left:2px;
	margin-top:3px;
	background:url(../images/field_extend_time.gif) #eeeeee no-repeat center center;
}
.bpp_Field_RO .bpp_Field_SelectExtend
{
	height:22px;
	width:22px;
	background:center;
	border:solid #999999 0px !important;
	cursor:default;
	margin:0px !important;
	margin-left:-1px !important;
	margin-top:3px !important;
}

.bpp_MessageTip_Require
{
	position:absolute;
	height:23px;
	width:35px;
	background:url(../images/msg-req.png) right bottom;
}
.bpp_MessageTip_OverLength
{
	position:absolute;
	height:23px;
	width:35px;
	background:url(../images/msg-max.png) right bottom;
}

#bpp_MessageExtendBox
{
	position:absolute;
	top:300px;
	left:700px;
	width:400px;
	border:solid #3399cc 2px;
	background-color:#ffffff;
}
#bpp_MessageExtendBox #bpp_MessageExtendBox_Title
{
	height:25px;
	line-height:200%;
	font-size:12px;
	font-weight:bold;
	background-color:#3399cc;
	color:white;
	padding-left:5px;
}
#bpp_MessageExtendBox #bpp_MessageExtendBox_Content
{
	height:200px;
	width:398px;
	font-family:宋体;
	font-size:13px;
	border:0px;
}
#bpp_MessageExtendBox #bpp_MessageExtendBox_Button
{
	height:30px;
	background-color:#eeeeee;
	text-align:center;
}
#bpp_MessageExtendBox #bpp_MessageExtendBox_Button input
{
	border:solid #cccccc 1px;
	height:22px;
	margin-top:4px;
	background-color:#cccccc;
}
#bpp_MaskLayer
{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:#eeeeee;
	z-index:999;
	opacity:0.40;
	filter:alpha(opacity=40);
	-moz-opacity:0.4;
}
